<!DOCTYPE html>
<!-- <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" /> -->
<html lang="ro">
	<head>
		<meta name="description" content="Levi's shop - confirmare utilizator.">
        <meta name = "keywords" content = "magazin,fotografii,fotografie,poze,imagini,imagine,vanzare,apusuri,rasarituri,peisaje,portrete,stoc,camera,Canon,Tamron,Godox, confirmare, utilizatori">
		<%- include("../fragmente/head") %>
		<title>Confirmare</title>
	</head>
	<body>
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
			
			<h1>Confirmare mail</h1>
			<p>Totul a functionat bine!</p>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>