<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Levi's shop - cos virtual.">
        <link rel = "stylesheet" href = "../resurse/css/cos-virtual.css" type = "text/css" >
        <title>Levi's shop - cos virtual</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <br><br><br><button class="btn btn-primary" id="cumpara">Cumpara</button><br><br>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>