h1 {
    font-size: 1.4rem;
}
    
h2 {
    font-size: 1.1rem;
}
    
h3 {
    font-size: 0.9rem;
}
    
h4 {
    font-size: 0.7rem;
}

#grid-pagina {
    display: grid;
    grid-template-areas:
    "f-detaliiAutor f-detaliiAutor"
    "f-deVanzare f-deVanzare"
    "f-calendar f-tabel"
    "f-anunturi f-anunturi"
    "f-listaUtilizatori f-dateUtilizator"
    "f-comanda f-comanda";
}

#detaliiAutor {
    grid-area: f-detaliiAutor;
    margin-bottom: 5px;
    background-color: var(--background);
}

#pozaL {
    display: block;
    margin: 0 auto;
}

#deVanzare {
    grid-area: f-deVanzare;
    margin-top: 5px;
    background-color: var(--background);
}

#calendar {
    grid-area: f-calendar;
    margin-top: 5px;
    margin-right: 5px;
    background-color: var(--background);
}

#tabel {
    grid-area: f-tabel;
    margin-top: 5px;
    margin-left: 5px;
    background-color: var(--background);
}

#anunturi {
    grid-area: f-anunturi;
    margin-top: 5px;
    margin-left: 5px;
    background-color: var(--background);
}

#listaUtilizatori {
    grid-area: f-listaUtilizatori;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: var(--background);
}

#dateUtilizator {
    grid-area: f-dateUtilizator;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: var(--background);
}

#comanda {
    grid-area: f-comanda;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: var(--background);
}

#grid-pagina>section{
    border: 1px solid var(--text);
    padding: var(--text);
}

footer {
    background-color: var(--background);
}
/* 
<button class="btn btn-primary" id="filtrare"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg> <a>Filtreaza</a></button> 
            <button class="btn btn-primary" id="resetare"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
              </svg> <a>Reseteaza</a></button><br/><br>
            <button class="btn btn-primary" id="sortCrescNume"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
              </svg> <a>Sorteaza crescator dupa nume si raport</a></button>
            <button class="btn btn-primary" id="sortDescrescNume"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
              </svg>  <a>Sorteaza descrescator dupa nume si raport</a></button>
            </p>
            <br><button class="btn btn-primary" id="sumaproduselor"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
              </svg> <a>Suma preturilor produselor afișate.</a></button><br><br> */

#filtrare a, #resetare a, #sortCrescNume a, #sortDescrescNume a, #sumaproduselor a {
    display:none;
}

/* .produs {
    display: grid;
    grid-template-areas: "f-nume"
    "f-pret" "f-categorie" "f-subiecte"
    "f-distantaFocala" "f-descriere" "f-dataCreare"
    "f-sfw" "f-poza"
}  */

.grid-produse{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:1rem;
}