main{
    --padd-main:1rem;
    padding-left:var(--padd-main);
    padding-right:var(--padd-main);
}

.grid-produse{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1rem;
}

.grid-produse .produsfinal{
    border-radius: 2rem;
    box-shadow: 0px 0px 0.8rem 0.3rem grey;
    overflow: hidden;
}

.grid-produse .produsfinal h3{
    text-align: center;
    margin-top: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.grid-produse .produsfinal h3 a{
    color:black;
}
.grid-produse .produsfinal h3 a:hover{
    color:white;
}
.grid-produse .produsfinal figure{
    text-align: center;
}
.grid-produse .produsfinal figure img{
    border:1px solid grey
}
.grid-produse .produsfinal .info-prod{
    display:flex;
    /* background-color: #DCDCDC; */
}
.grid-produse .produsfinal .info-prod p, h3.grid-produse{
    color: #DCDCDC;
    width:30%;
    text-align:center;
    font-weight:bold;
}

h3.ceva {
    color: #DCDCDC;
}

.grid-produse .produsfinal p.categorie, h3.grid-produse, p.grid-produse{
    color: #DCDCDC;
    text-align:center;
    font-weight:bold;
}

.info-produse{
    background-color: var(--cl-marcare);
    padding:0.2rem;
    box-shadow: 0px 0px 0.5rem 0.15rem grey;
}

.produsfinal{
    position: relative;
}

#inp-categoriem {
    display: none;
}

.produs {
    display: grid;
    grid-template-areas: "f-nume f-nume"
    "f-pret f-categorie" "f-subiecte f-categorie"
    "f-distantaFocala f-descriere" "f-dataCreare f-descriere"
    "f-sfw f-descriere" "f-poza f-poza"
}

/* #detaliiAutor {
    grid-area: f-detaliiAutor;
    margin-bottom: 20px;
    background-color: var(--background);
} */

.nume {
    grid-area: f-nume;
    margin-bottom: 20px;
}

.pret {
    grid-area: f-pret;
    margin-left: 20px;
    margin-right: 20px;
}

.categorie {
    grid-area: f-categorie;
    margin-left: 20px;
    margin-right: 20px;
}

.subiecte {
    grid-area: f-subiecte;
    margin-left: 20px;
    margin-right: 20px;
}

.descriere {
    grid-area: f-descriere;
    margin-left: 20px;
    margin-right: 20px;
}

.distantafocala {
    grid-area: f-distantaFocala;
    margin-left: 20px;
    margin-right: 20px;
}

.dataCreare {
    grid-area: f-dataCreare;
    margin-left: 20px;
    margin-right: 20px;
}

.sfw {
    grid-area: f-sfw;
    margin-left: 20px;
    margin-right: 20px;
}

.poza {
    grid-area: f-poza;
}