#link-top{
    position:fixed;
    bottom:0.3em;
    opacity:0.5;
    left:0.3em;
    width:3rem;
    box-sizing: border-box;
    height:3rem;
    line-height:3rem;
    text-align:center;
    border:1px solid grey;
    border-radius:50%;
    background: rgb(220,220,220);
    text-decoration: none;
    color: grey;
    font-size: 2.5rem;
  }

  #link-top:hover{
    opacity:1;
  }

  #triunghi:hover::after {
    content: "Hai sus!";
    display: inline-block;
    position: absolute;
    bottom: 4%;
    right: -10rem;
    transform: translateZ(50%), translateY(-50%);
    background-color:var(--culoare_background2);
    color: var(--culoare_text3);
    padding: 0.1em;
    border-radius: 0.3em;
    font-size: 0.9em;
}