<!-- <%- include("head.ejs");  %>  -->
<!-- <meta charset = "UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<meta name = "keywords" content = "magazin,fotografii,fotografie,poze,imagini,imagine,vanzare,apusuri,rasarituri,peisaje,portrete,stoc,camera,Canon,Tamron,Godox">
<meta name = "description" content = "Magazin online de fotografii digitale">
<meta name = "author" content = "Adrian-George Levențiu">

<link rel = "apple-touch-icon" sizes = "180x180" href = "../resurse/imagini/apple-touch-icon.png">
<link rel = "icon" type="image/png" sizes = "32x32" href = "../resurse/imagini/favicon-32x32.png">
<link rel = "icon" type="image/png" sizes = "16x16" href = "../resurse/imagini/favicon-16x16.png">
<link rel = "manifest" href = "../resurse/imagini/site.webmanifest">
<link rel = "shortcut icon" href = "../resurse/imagini/favicon.ico">
<meta name = "msapplication-TileColor" content = "#da532c">
<meta name = "msapplication-config" content = "../resurse/imagini/browserconfig.xml">
<meta name = "theme-color" content = "#ffffff">


<link rel = "stylesheet" href = "../resurse/css/custom.css" type = "text/css"/>
<link rel = "stylesheet" href = "../resurse/css/general.css">
<link rel = "stylesheet" href = "../resurse/css/general1000.css" type = "text/css" media = "screen and (max-width:1000px)">
<link rel = "stylesheet" href = "../resurse/css/general700.css" type = "text/css" media = "screen and (max-width:700px)">
<link rel = "stylesheet" href = "../resurse/css/galerie-statica-js.css" type = "text/css">
<link rel = "stylesheet" href = "../resurse/css/galerie-statica-1000.css" type = "text/css" media = "screen and (max-width:1000px)">
<link rel = "stylesheet" href = "../resurse/css/galerie-statica-500.css" type = "text/css" media = "screen and (max-width:700px)">
<link rel = "stylesheet" href = "../resurse/css/tabel.css" type = "text/css" >
<link rel = "stylesheet" href = "../resurse/css/nav.css">
<link rel = "stylesheet" href = "../resurse/css/navmic2.css" media = "screen and (max-width:700px)">
<link rel = "stylesheet" href = "../resurse/css/triunghi.css" type = "text/css" >
<link rel = "stylesheet" href = "../resurse/css/print.css" type = "text/css" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" /> -->

<!-- <script src=../resurse/js/tema.js></script> -->
<link rel = "stylesheet" href = "../resurse/css/custom.css" type = "text/css"/>
<footer>
    <section id = "contact">
        <br>
        <strong></span><span class="fas fa-regular fa-house"></span> Adresă:</strong>
        <address><a href = "https://goo.gl/maps/8UzvK6EYophRe1qS6">Strada Academiei 14</a></address>
        <div class = "maps">
            <iframe src="https://www.google.com/maps?q=Strada+Academiei+14,+Bucuresti&output=embed" name = "mapsiframe"></iframe>
        </div><br>
        <strong><i class="fa-solid fa-phone"></i> Număr de telefon:</strong><br>
        <a> <s>0712345678</s><b> 0711223344</b></a><br><br>
        <strong><i class="fa-solid fa-inbox"></i>  Adresă de mail:</strong><br>
        <a href = "mailto:levishop@gmail.com">levishop@gmail.com</a><br><br>
        <a href = "https://www.facebook.com/Adii.Levi"><b><i class="fa-brands fa-facebook"></i> Facebook</b></a><br><br>
        <a href = "resurse/imagini/android-chrome-192x192.png" download = "Logo"><i class="fa-solid fa-download"></i> Descarcă logo-ul site-ului!</a><br><br>
        <a href="#" id="link-top"><div id="triunghi"></div>&#5123</a>
        <p><small><time datetime="2023-02-25">Copyright &copy; 2023 Adrian Levențiu</time></small></p>
        <%- locals.optiuniMeniu %>
        <%- locals.optiuniMeniu[0].unnest %>
    </section>
    <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
    <button id="tema" class="btn btn-primary">Schimbă tema</button>
</footer>