<%- include("head.ejs");  %> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<footer>
    <section id = "contact">
        <br>
        <strong></span><span class="fas fa-regular fa-house"></span> Adresă:</strong>
        <address><a href = "https://goo.gl/maps/8UzvK6EYophRe1qS6">Strada Academiei 14</a></address>
        <div class = "maps">
            <iframe src="https://www.google.com/maps?q=Strada+Academiei+14,+Bucuresti&output=embed" name = "mapsiframe"></iframe>
        </div><br>
        <strong><i class="fa-solid fa-phone"></i> Număr de telefon:</strong><br>
        <a> <s>0712345678</s><b> 0711223344</b></a><br><br>
        <strong><i class="fa-solid fa-inbox"></i>  Adresă de mail:</strong><br>
        <a href = "mailto:levishop@gmail.com">levishop@gmail.com</a><br><br>
        <a href = "https://www.facebook.com/Adii.Levi"><b><i class="fa-brands fa-facebook"></i> Facebook</b></a><br><br>
        <a href = "resurse/imagini/android-chrome-192x192.png" download = "Logo"><i class="fa-solid fa-download"></i> Descarcă logo-ul site-ului!</a><br><br>
        <a href="#" id="link-top"><div id="triunghi"></div>&#5123</a>
        <div class="form-check form-switch" id="tema">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">
                <!-- <i class="fas fa-sun"></i>
                <i class="fas fa-moon"></i> -->
                Schimba tema</label>
        </div>
        <p><small><time datetime="2023-02-25">Copyright &copy; 2023 Adrian Levențiu</time></small></p>
        <%- locals.optiuniMeniu %>
        <%- locals.optiuniMeniu[0].unnest %>
    </section>
    <div id="disclaimer-banner">
        <p id="banner">Acesta este un proiect scolar. <span id="mesaj-cookies">Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></span></p>
    </div>
    <!-- <button id="tema" class="btn btn-primary">Schimbă tema</button> -->
</footer>