<%- include("head.ejs");  %> 

<header>
    <section id = "top">
        <h1 data-text="Levi's shop" id="titlu">Levi's shop</h1>
        <img src="../resurse/imagini/dcdcdc.png" id = "im_mask" width = 250px height = 20px>
        <!-- <img id = "im_mask" width = 250px height = 20px> -->
        <nav>
            <label id="hamburger" for="ch-menu">
                <!-- <img src="Resurse/img/Hamburger.png" width = 50px height= 50px alt="menu"> -->
                <i class="fa-solid fa-bars"></i>
            </label>
            <input id="ch-menu" type="checkbox">
            <ul class="menu">
                <li><a href = "index"><i class="fa-solid fa-house"></i><p id = "main_page"> Acasă</p></a></li>
                <li><div>Cuprins</div>
                    <ul class="submenu">
                        <li><a href="#detaliiAutor">Autor</a></li>
                        <li><a href="#deVanzare">De vânzare</a></li>
                        <li><a href="#tabel">Program</a></li>
                        <li><a href="#anunturi">Anunțuri</a></li>
                        <li><a href="#listaUtilizatori">Listă</a></li>
                        <li><a href="#dateUtilizator">Date</a></li>
                        <li><a href="#comanda">Ajutor</a></li>
                    </ul>
                </li>
                <li><div>Magazin</div>
                    <ul class="submenu">
                        <li><a href="/produse">De vânzare</a></li>
                        <li><a href="/produse?tip=apus">Apusuri</a></li>
                        <li><a href="/produse?tip=rasarit">Răsărituri</a></li>
                        <li><a href="/produse?tip=peisaj">Peisaje</a></li>
                        <li><a href="/produse?tip=portret">Portrete</a></li>
                    </ul>
                </li>
                <li><a href="#comanda">FAQ</a></li>
                <li><a href="#contact">Contact</a></li>
                    <li><div>Contul meu</div>
                        <ul class="submenu">                        
                        <li><a href="#">Informații</a></li>
                        <li><a href="#">Comenzi</a></li>
                        <li><a href="#">Coșul meu</a></li>
                        <li><a href="#">Log in/Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h2>Conținut magazin</h2>
        <p id="watermark"></p>
        <p id="absolut"></p>
        <ul>
            <li>
                    <a href = "#detaliiAutor">Detalii autor</a>
                    <ul>
                        <li><a href = "#despreMine">Despre mine</a></li>
                        <li><a href = "#aparaturaFolosita">Aparatura folosită</a></li>
                    </ul>
                <li>
                        <a href = "#deVanzare">De vânzare</a>
                        <ul>
                            <li><a href = "#apusuriRasarituri">Apusuri/răsărituri</a></li>
                            <li><a href = "#peisaje">Peisaje</a></li>
                            <li><a href = "#portrete">Portrete</a></li>
                        </ul>
                </li>
        </ul>
    </section>
</header>