<!-- <%- include("head.ejs");  %>  -->

<meta charset = "UTF-8">
<meta name = "viewport" content = "width=device-width, initial-scale=1.0">
<meta name = "keywords" content = "magazin,fotografii,fotografie,poze,imagini,imagine,vanzare,apusuri,rasarituri,peisaje,portrete,stoc,camera,Canon,Tamron,Godox">
<meta name = "description" content = "Magazin online de fotografii digitale">
<meta name = "author" content = "Adrian-George Levențiu">

<link rel = "apple-touch-icon" sizes = "180x180" href = "../resurse/imagini/apple-touch-icon.png">
<link rel = "icon" type="image/png" sizes = "32x32" href = "../resurse/imagini/favicon-32x32.png">
<link rel = "icon" type="image/png" sizes = "16x16" href = "../resurse/imagini/favicon-16x16.png">
<link rel = "manifest" href = "../resurse/imagini/site.webmanifest">
<link rel = "shortcut icon" href = "../resurse/imagini/favicon.ico">
<meta name = "msapplication-TileColor" content = "#da532c">
<meta name = "msapplication-config" content = "../resurse/imagini/browserconfig.xml">
<meta name = "theme-color" content = "#ffffff">


<link rel = "stylesheet" href = "../resurse/css/customizare_bootstrap.css" type = "text/css"/>
<link rel = "stylesheet" href = "../resurse/css/general.css">
<link rel = "stylesheet" href = "../resurse/css/general1000.css" type = "text/css" media = "screen and (max-width:1000px)">
<link rel = "stylesheet" href = "../resurse/css/general700.css" type = "text/css" media = "screen and (max-width:700px)">
<link rel = "stylesheet" href = "../resurse/css/galerie-statica-js.css" type = "text/css">
<link rel = "stylesheet" href = "../resurse/css/galerie-statica-500.css" type = "text/css" media = "screen and (max-width:700px)">
<link rel = "stylesheet" href = "../resurse/css/galerie-statica-1000.css" type = "text/css" media = "screen and (max-width:1000px)">
<link rel = "stylesheet" href = "../resurse/css/tabel.css" type = "text/css" >
<link rel = "stylesheet" href = "../resurse/css/nav.css">
<link rel = "stylesheet" href = "../resurse/css/navmic2.css" media = "screen and (max-width:700px)">
<link rel = "stylesheet" href = "../resurse/css/triunghi.css" type = "text/css" >
<link rel = "stylesheet" href = "../resurse/css/print.css" type = "text/css" >

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

<header>
    <section id = "top">
        <h1 data-text="Levi's shop" id="titlu">Levi's shop</h1>
        <img src="../resurse/imagini/dcdcdc.png" id = "im_mask" width = 250px height = 20px>
        <!-- <img id = "im_mask" width = 250px height = 20px> -->
        <nav>
            <label id="hamburger" for="ch-menu">
                <!-- <img src="Resurse/img/Hamburger.png" width = 50px height= 50px alt="menu"> -->
                <i class="fa-solid fa-bars"></i>
            </label>
            <input id="ch-menu" type="checkbox">
            <ul class="menu">
                <li><a href = "index"><i class="fa-solid fa-house"></i><p id = "main_page"> Acasă</p></a></li>
                <li><div>Cuprins</div>
                    <ul class="submenu">
                        <li><a href="#detaliiAutor">Autor</a></li>
                        <li><a href="#deVanzare">De vânzare</a></li>
                        <li><a href="#tabel">Program</a></li>
                        <li><a href="#anunturi">Anunțuri</a></li>
                        <li><a href="#listaUtilizatori">Listă</a></li>
                        <li><a href="#dateUtilizator">Date</a></li>
                        <li><a href="#comanda">Ajutor</a></li>
                    </ul>
                </li>
                <li><div>Magazin</div>
                    <ul class="submenu">
                        <li><a href="#deVanzare">De vânzare</a></li>
                        <li><a href="#apusuriRasarituri">Apusuri</a></li>
                        <li><a href="#apusuriRasarituri">Răsărituri</a></li>
                        <li><a href="#peisaje">Peisaje</a></li>
                        <li><a href="#portrete">Portrete</a></li>
                    </ul>
                </li>
                <li><a href="#comanda">FAQ</a></li>
                <li><a href="#contact">Contact</a></li>
                    <li><div>Contul meu</div>
                        <ul class="submenu">                        
                        <li><a href="#">Informații</a></li>
                        <li><a href="#">Comenzi</a></li>
                        <li><a href="#">Coșul meu</a></li>
                        <li><a href="#">Log in/Out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <h2>Conținut magazin</h2>
        <p id="watermark"></p>
        <p id="absolut"></p>
        <ul>
            <li>
                    <a href = "#detaliiAutor">Detalii autor</a>
                    <ul>
                        <li><a href = "#despreMine">Despre mine</a></li>
                        <li><a href = "#aparaturaFolosita">Aparatura folosită</a></li>
                    </ul>
                <li>
                        <a href = "#deVanzare">De vânzare</a>
                        <ul>
                            <li><a href = "#apusuriRasarituri">Apusuri/răsărituri</a></li>
                            <li><a href = "#peisaje">Peisaje</a></li>
                            <li><a href = "#portrete">Portrete</a></li>
                        </ul>
                </li>
        </ul>
    </section>
</header>